$primary: #f5f6fa;
$primary-dark: #dcdde1;
$primary-light: #ff6659;

$secondary: aliceblue;

$primary-action: #CF0068;
$primary-action-light: #4b8ee0;
$primary-action-hover: #ad0057;
$secondary-action: #00B16A;
$secondary-action-dark: #1E824C;
$white: white;
$focus: #9B30FF;

$error: crimson;
$success: green;
$disabled:#D3D3D3;
$disabled-dark: 	#808080;

$secondary-color: white;
$tertiary-color: green;
$primary-text: rgba(0,0,0,.84);
$secondary-text: aliceblue;
$tertiary-text: #DC2A2A;
$new: #1A1A1A;

$red: #b00e23;

$bg: #101214;
$nav: #181a1d;
$nav-link: #f5f5f5;
$nav-link-selected: #FC6399;
$title: #f5f5f5;
$subtitle: rgba(245,245,245,.9);
$heading: #C7C7C7;
$primary-font: #f5f5f5;
$outlined: #181a1d;
$outlined-hover: #080a0b;
